@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


* :root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #0c120c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 

nav{
  background-color: #c20114;
  padding: 30px 32px;
  display: flex;
 
  
}
  

nav a{
  margin-right: 100px;
  color: #c7d6d5;
  font-size: 20px;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* nav a.active {
  text-decoration: none;
  font-weight: bold;
} */



.carousel {
  
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 37%; /* Ancho de cada diapositiva igual al 100% del ancho total */
    height: 100%;
    margin: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }





.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-item {
  position: relative;
  padding-bottom: 66.67%;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}


.footer {
  background-color: #c20114;
  padding: 50px 0;
  font-size: 16px;
  color: #ecebf3;
  font-family: 'Nunito Sans', sans-serif;
}


.footer p, .footer ul {
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li a {
  color: #ecebf3;
}

.footer ul li a:hover {
  color: #ecebf3;
}

.footer hr {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer p.text-center {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagen img {
  max-width: 100%;
  height: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #ecebf3;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
