@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


* :root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  padding:2vw;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  font-family: 'Nunito Sans', sans-serif;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  padding:2vw;
  background-color: #0c120c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} 


nav{
  
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

 
  
}

.navbar{
  background-color: #2e2e2e;
  width: fit-content;
  padding-right:2vw;
  padding-left:2vw;
  padding-top:1vw;
  padding-bottom: 1vw;
border-radius: 100vw;
}

.logoContainer{
  height: 3vw;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 100vw;
}
.logoContainer img{
width: 60%;
height: 60%;
object-fit: contain;

}
  

nav a{
  margin-right: 2vw;
  color: rgba(255,255,255,0.6);
  font-size: 20px;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight:bold;
  
}

nav a:hover{
 
  color: rgba(255,255,255,1);;
}

nav a:focus{
  color: rgba(255,255,255,1);
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* nav a.active {
  text-decoration: none;
  font-weight: bold;
} */








.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-item {
  position: relative;
  padding-bottom: 66.67%;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}


.footer {
  background-color: #c20114;
  border-radius: 2vh;
  padding: 50px 0;
  font-size: 16px;
  color: #ecebf3;
  font-family: 'Nunito Sans', sans-serif;
}


.footer p, .footer ul {
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li a {
  color: #ecebf3;
}

.footer ul li a:hover {
  color: #ecebf3;
}

.footer hr {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer p.text-center {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
  
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imagen img {
  max-width: 100%;
  height: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #ecebf3;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.slider{
  width: 96vw;
  height: 70vh;
  border-radius: 5vw;
  border-bottom-right-radius: 96vw;
  overflow: hidden;
  position: relative;
  margin-top:2vw;
}
.slides{
width: 500%;
height: 70vh;
display: flex;

}
.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition:2s
}

.slide img{
  width:96vw;
  height: 70vh;
}

.navigation-manual{
position: absolute;
width: 96vw;
bottom: 40px;
display: flex;
justify-content: center;
display: none;
}



.manual-btn{
  border:2px solid red;
  padding: 5px;
  cursor: pointer;
  transition:1s;
  border-radius: 96vw;
}


.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: red;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}
#radio5:checked ~ .first{
  margin-left: -60%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 96vw;
  justify-content: center;
  margin-top:0px;
  bottom: 40px;
  display: none;
}

.navigation-auto > div{
  border:2px solid red;
  padding: 5px;
  cursor: pointer;
  transition:1s;
  border-radius: 96vw;
}

.navigation-auto > div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
 background-color: red;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: red;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: red;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: red;
}

#radio5:checked ~ .navigation-auto .auto-btn4{
  background-color: red;
}

