.grid {
  display: flex;
  flex-wrap: wrap;
  width: 96vw;
  max-width: 96vw;
  overflow-x: hidden;
  height: fit-content;
  justify-content: space-between;
  margin-top: 2vw;
  padding: 0px;
}


.movie{
  width: 20vw;
  height: 25vw;
  margin: 2vw;
  border-radius: 2vw;
  position: relative;
  display: flex;
  cursor: pointer;
}
.movie img{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 2vw;
  cursor: pointer;
}

.genre{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.hoverEffect{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(17,17,17,1);
  border-radius: 2vw;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.movie:hover > .hoverEffect{
  visibility: visible;
  opacity: 1;
  background-color: rgba(17,17,17,0.8);


}

.hoverEffect > h1{
  font-size: 1vw;
  margin: 0;
  margin-bottom: 1vw;
  
}
.hoverEffect > h2{
  font-size: 0.8vw;
  margin: 0;
  
}

.genre > h3{
  font-size: 0.8vw;
  margin: 0; 
  margin-right:0.2vw
}

.comma:last-of-type{
  display: none;
}

.dot{
  display: none;
}

.dot:last-of-type{
  display: contents;
  margin-left:-0.2vw;
}

@media screen and (max-width: 768px){
 
.movie{
  width: 42vw;
  height: 50vw;
  margin: 2vw;
  border-radius: 2vw;
  position: relative;
  display: flex;
  cursor: pointer;
}
.movie img{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 2vw;
  cursor: pointer;
}
}