.info-imagen {
    display: flex;
    align-items: center; /* center items vertically */
  }
  
  .foto {
    margin-right: 20px; /* add some space between image and text */
    border-radius: 2vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  
  .descripcion-container {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    color: rgba(255,255,255,0.6);
    position: relative;
    text-align: justify;
  }

  .like{
    position: absolute;
    right: 0;
    font-size: 2vw;
    cursor: pointer;
    transition: 1s;
  }
  
  .like:hover{
    color: #c20114;
  }
  .descripcion {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-top: 0;
    font-size: 7vh;
    text-align: center;
  }

  @media screen and (max-width: 700px) {
    .descripcion-container {
      display: flex;
      flex-direction: column;
      padding: 2vh;
      color: rgba(255,255,255,0.6);
      font-size: 1.5vh;
      text-align: justify;
      position: relative;
    }

    h2 {
      margin-top: 0;
      font-size: 3vh;
      text-align: center;
    }
  }

  @media screen and (max-width: 1000px) {
    .descripcion-container {
      display: flex;
      flex-direction: column;
      padding: 2vh;
      color: rgba(255,255,255,0.6);
      font-size: 1.5vh;
      text-align: justify;
      position: relative;
    }

    h2 {
      margin-top: 0;
      font-size: 3vh;
      text-align: center;
    }
    .foto {
      margin-right: 20px; /* add some space between image and text */
      border-radius: 2vh;
      margin-top: 10vh;
      margin-bottom: 10vh;
   
    }
  }


  

  